{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="bg-dark py-5" id="header-home">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Bienvenue chez Mercadona</h1>
                <p class="lead fw-normal text-white-70 mb-0">Découvrez les promotions en cours</p>
                <a href="{{path('category_all_list')}}" class="btn btn-success btn-lg mt-4">Notre catalogue</a>
            </div>
        </div>
    </header>
    
{% endblock %}
