{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark py-5" id="header-home">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Empieza tu compra en Mercadona</h1>
                <p class="lead fw-normal text-white-70 mb-0">Descubra las promociones vigentes</p>
                <a href="#" class="btn btn-success btn-lg mt-4">Nuestro catálogo</a>
            </div>
        </div>
    </header>

{% endblock %}
