{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{asset('assets/js/admin-products.js')}}"></script>
{% endblock %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <div class="bg-success pb-5">
        <main>
            <div class="container">
                <div class="text-center text-white py-4">
                    <h3 class="fw-light">Modifier un produit</h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg">
                            <div class="card-body">
                                {% include "admin/products/_form.html.twig" with {'button_label': 'Modifier'} %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}